@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: "Booter- Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff");
    src: url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}        /* margin: 150px auto 200px; */

* {
    /* box-sizing: border-box;     */
    font-family: 'Montserrat', sans-serif;
    /* color: #777; */
}

.container {
        display: block;    
}



h1 {
    display: inline-block;
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    color:rgb(50, 50, 50);
    padding-left:75px;

}

p {
    display: inline-block;
    /* margin:-35px; */
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    color:rgb(50, 50, 50)
}

.vid-section {
    display:flex;
    align-items: center;
    justify-content: center;
}

.my-vid {
    width: 100%;
    height: auto;
    min-width: 400px;
    max-width: 1024px;
}